<section id="about" class="section about">
    
    <div class="container about-container">
        <h2 class="section-title about__title">Teacher</h2>
        <div class="common">

            <div class="wrapper-img">
                <picture>
                    <source srcset="././images/about-teacher-desctop.jpg 1x, ././images/about-teacher-desctop@2x.jpg 2x"
                        media="(min-width: 1680px)" />
                    <source srcset="././images/about-teacher-tablet.jpg 1x, ././images/about-teacher-tablet@2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="././images/about-teacher-mobile.jpg 1x, ././images/about-teacher-mobile@2x.jpg 2x"
                        media="(max-width: 768px)" />
                    <img class="teacher-foto" src="././images/about-teacher-desctop@2x.jpg" alt="Фото">
                </picture>
            </div>

       <div class="wrapper-about">
        <h2 class="teacher-name">Elena Morozova</h2>
        <ul class="skills">
            <li class="skills-item">6 yeards of experience in preparing students for UPE</li>
            <li class="skills-item">Own result of passing VNO - 197 points 2 years in a row</li>
            <li class="skills-item">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
        </ul>
    

        <div class="teacher-about">
            <p class="teacher-about__item">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.</p>
            <p class="teacher-about__item">In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.</p>
            <p class="teacher-about__item">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to
            Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful
            Tools for Teaching and Learning (University of Houston).</p>
        </div>
            <a class="certificate" href="https://www.cambridgeenglish.org/" target="_blank" rel="noopener noreferrer nofollow">Cambrige English Entry Level Certificate</a>
    
        </div>
    </div>
</div>
    

</section>