<section class="advantages">
  <div class="container tablet">
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__text student">
          <span class="text-decotation">Adapted author's UPE program</span>
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text mobile">
          <span class="text-decotation">Modern teaching methods</span>
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text insurance">
          <span class="text-decotation">Financial guarantee the result</span>
        </p>
      </li>
    </ul>
  </div>
</section>