<!-- Benefits -->
<section class="benefits">
  <div class="container">
    <div class="benefits-choose">
    <h2 class="benefits-people">Why do people<br> choose us</h2>
    <div class="benefits-number">
      <ol class="benefits-choose-list">
        <div class="benefits-flex-container">
        <div class="benefits-flex-item"><li class="benefits-choose-item">Training in small groups</li></div>
        <div class="benefits-flex-item"><li class="benefits-choose-item">Rendered notes</li></div>
        <div class="benefits-flex-item"><li class="benefits-choose-item">Each lesson has a goal and<br> a specific result</li></div>
        <div class="benefits-flex-item"><li class="benefits-choose-item">The real results of the<br> teacher</li></div>
        <div class="benefits-flex-item"><li class="benefits-choose-item">The course program meets<br> the requirements of the<br> Mes of Ukraine</li></div>
        <div class="benefits-flex-item"><li class="benefits-choose-item">Set of groups by level of<br> knowledge</li></div>
      </div>
      </ol>
    </div>
</div>
</div>
    </section>