<section class="section section_benefits">
  <div class="container container_benefits">
      <h2 class="section-title section-title_benefits">
          <span class="section-title__first-part">Why do people</span> <span class="section-title__second-part">choose
              us</span>
      </h2>
      <div class="benefits-wrapper">
          <ol class="benefits-list">
              <li class="benefits-item">Training in small groups</li>
              <li class="benefits-item">Rendered notes</li>
              <li class="benefits-item">Each lesson has a goal and<br> a specific result</li>
              <li class="benefits-item">The real results of the<br> teacher</li>
              <li class="benefits-item">The course program meets<br> the requirements of the<br> Mes of
                  Ukraine</li>
              <li class="benefits-item">Set of groups by level of<br> knowledge</li>
          </ol>
      </div>
  </div>
</section>