<!-- Benefits -->
<div class="container">
<section class="benefits">
    <h2>Why do people<br> choose us</h2>
    <div class="benefits-choose">
      <ol class="benefits-choose-item">
        <li class="benefits-choose-list">Training in small groups</li>
        <li class="benefits-choose-list">Rendered notes</li>
        <li class="benefits-choose-list">Each lesson has a goal and<br> a specific result</li>
        <li class="benefits-choose-list">The real results of the<br> teacher</li>
        <li class="benefits-choose-list">The course program meets<br> the requirements of the<br> Mes of Ukraine</li>
        <li class="benefits-choose-list">Set of groups by level of<br> knowledge</li>
      </ol>
    </div>
</div>
    </section>