<section id="contacts" class="section-contacts">
  <div class="container section-contacts__container">
    <h3 class="section-contacts__title">
      Registration for a <span class="section-contacts__title--active">free</span> phone
      <span class="section-contacts__title--active">consultation</span> on the nuances of English
      UPE
    </h3>
    <p class="section-contacts__description">
      Leave a request for participation in a
      <span class="section-contacts__description--active">free lesson</span>. <br />
      A consultant will contact you and answer your questions
    </p>
    <form class="contacts-form">
        <input type="text" name="text" class="contacts-form__input" placeholder="Name*" pattern="[a-z]*"/>
        <input type="number" name="number" class="contacts-form__input contacts-form__input--bottom"
          placeholder="Phone*" pattern="[0-9]*"/>
      <button type="submit" class="contacts-form__button">i want a free lesson</button>
    </form>
  </div>
</section>