<footer class="footer">
  <div class="container">
    <div class="section-footer">
      <a href="" class="section-footer__logo">
        <svg class="logo" width="80" height="29">
          <use href="./images/logo_footer.svg#icon-logo-footer"></use>
        </svg>
      </a>

      <a class="section-footer__tel" href="tel:+380000000000">
        <svg class="section-footer__tel_tel-svg" width="20" height="19">
          <use href="./images/vector-tel.svg#icon-vector-tel"></use>
        </svg>
        +38 (000) 000 00 00
      </a>

      <ul class="section-footer__soc">
        <li class="section-footer__list">
          <a
            class="section-footer__link instagram"
            href="https://www.instagram.com/"
            target="_blank"
          ></a>
        </li>
        <li class="section-footer__list">
          <a
            class="section-footer__link facebook"
            href="https://www.facebook.com/"
            target="_blank"
          ></a>
        </li>
        <li class="section-footer__list">
          <a class="section-footer__link twitter" href="https://twitter.com/" target="_blank" у></a>
        </li>
        <li class="section-footer__list">
          <a
            class="section-footer__link linkedin"
            href="https://ua.linkedin.com/"
            target="_blank"
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section-down">
    <p class="section-down__text">@ All rights reserved, 2019</p>
  </div>
</footer>
