
    <header class="main-header">
        <div class="container main-header__container">
            <a class="logo-link" href="./">
                <img class="logo-link__img" src="./images/logo.svg" alt="logo">
            </a>
            <nav class="main-navigation">
                <ul class="navigation-list list">
                    <li class="navigation-list__item"> <a class="navigation-list__link link" href="#program">Studying program</a>
                    </li>
                    <li class="navigation-list__item"> <a class="navigation-list__link link"
                            href="#about">about</a> </li>
                    <li class="navigation-list__item"> <a class="navigation-list__link link" href="#how-we-do">training options</a>
                    </li>
                    <li class="navigation-list__item"> <a class="navigation-list__link link" href="#contacts">contacts</a> </li>
                </ul>
            </nav>
            <button class="modal-button" type="button">consultation by phone</button>
            <button class="header-menu-btn" type="button" data-menu-open>
                <svg class="header-menu-btn__icon" width="40" height="40">
                    <use href="./images/sprite.svg#burger-menu"></use>
                </svg>
            </button>
        </div>
        <div class="mobile-menu" data-menu>
            <div class="mobile-menu__container">
                <a class="menu-logo" href="./">
                    <img class="menu-logo__img" src="./images/menu-logo.svg" alt="menu-logo">
                </a>
                <button type="button" class="menu-close-btn" data-menu-close>
                    <svg class="menu-close-icon" width="30" height="30">
                        <use href="./images/sprite.svg#close">
                        </use>
                    </svg>
                </button>
                <nav class="menu-navigation">
                    <ul class="menu-navigation-list list">
                        <li class="menu-navigation-list__item"> <a class="menu-navigation-list__link link" href="#program">Studying program</a>
                        </li>
                        <li class="menu-navigation-list__item"> <a class="menu-navigation-list__link link"
                                href="#about">about</a> </li>
                        <li class="menu-navigation-list__item"> <a class="menu-navigation-list__link link" href="#how-we-do">training options</a>
                        </li>
                        <li class="menu-navigation-list__item"> <a class="menu-navigation-list__link link" href="#contacts">contacts</a> </li>
                    </ul>
                </nav>
                <button class="menu-modal-button" type="button">consultation by phone</button>
            </div>
        </div>
    </header>
    