<section class="hero section">
  <div class="container hero__container">
    <div class="hero__description-wrapper animate__animated animate__fadeInLeft animate__fast">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__description hero__description--secondary-accent">It won’t be easy.</p>
      <p class="hero__description">
        But you’re guaranteed to get
        <span class="hero__description hero__description--main-accent">+25 points</span>
      </p>
      <a href="#contacts" class="hero__button-link">I want a free lesson</a>
    </div>
    <picture class="animate__animated animate__fadeInUp animate__fast">
      <source
        srcset="./images/hero-img-desktop.webp 1x, ./images/hero-img-desktop@2x.webp 2x"
        media="(min-width: 1680px)"
        type="image/webp"
      />
      <source
        srcset="./images/hero-img-desktop.png 1x, ./images/hero-img-desktop@2x.png 2x"
        media="(min-width: 1680px)"
      />
      <source
        srcset="./images/hero-img-tablet.png 1x, ./images/hero-img-tablet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero-img-mobile.png 1x, ./images/hero-img-mobile@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img class="hero__img" src="./images/hero-img.png" alt="The process of studying" />
    </picture>
  </div>
</section>
