<section class="section_dark section_problems">
  <div class="container contaner_problems">
    <h2 class="section-title section-title_dark-theme section-title_problems">
      <spun class="problems-title__row">The main problems of students</spun>
      <spun class="problems-title__row">in English UPE, which</spun>
      <spun class="problems-title__row">we <span class="orange-text">help</span> to solve</spun>
    </h2>
    <div class="count-wrapper">
      <ol class="count-list">
        <li class="count-item">Grammar</li>
        <li class="count-item">Inability to understand<br> spoken English</li>
        <li class="count-item">Stingy vocabulary for<br> writing an essay</li>
        <li class="count-item">Preparing alone</li>
        <li class="count-item">Lack of a single <br>knowledge resource</li>
        <li class="count-item">Lack of self-organization<br> and laziness</li>
      </ol>
    </div>
  </div>
</section>