<!-- Problems -->
<section class="problems">
  <div class="container">
    <div class="problems-linear-gradient">
      <h2 class="problems-main">The main problems of students in English UPE, which we <span style="color:#FF6B09">help</span> to solve</h2>
     <div class="problems-number">
     <ol class="problems-number-list">
       <div class="problems-flex-container">
       <div class="problem-flex-item"><li class="problem-number-item">Grammar</li></div>
       <div class="problem-flex-item"><li class="problem-number-item">Inability to understand<br> spoken English</li></div>
       <div class="problem-flex-item"><li class="problem-number-item">Stingy vocabulary for<br> writing an essay</li></div>
       <div class="problem-flex-item"><li class="problem-number-item">Preparing alone</li></div>
       <div class="problem-flex-item"><li class="problem-number-item">Lack of a single <br>knowledge resource</li></div>
       <div class="problem-flex-item"><li class="problem-number-item">Lack of self-organization<br> and laziness</li></div>
      </div>
     </ol>
    </div>
  </div>
</div>
    </section>