<section class="program section">
    <div class="program contaner">
        <h2 class="program__title_theme_dark title">Our program</h2>
        <div class="program-wrapper">
            <ul class="program-semesters-list">
                <li class="program-semesters-list__item">
                    <h3 class="program-semestr-list__title">1 semester</h3>
                    <ul class="program-timetable-list">
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Grammar</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Nouns & Articles</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Adjectives & Adverb</p>
                                </li>
                            </ul>
                        </li>
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Vocabulary</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Family & Relations</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">People & Society</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-semesters-list__item">
                    <h3 class="program-semestr-list__title">2 semester</h3>
                    <ul class="program-timetable-list">

                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Grammar</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Pronouns</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Active Voice</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Passive Voice</p>
                                </li>
                            </ul>
                        </li>
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Vocabulary</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Home</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">School</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Work</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-semesters-list__item">
                    <h3 class="program-semestr-list__title">3 semester</h3>
                    <ul class="program-timetable-list">
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Grammar</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Modal verbs</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Infinitive</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Gerund</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Participle: 1, 2</p>
                                </li>
                            </ul>
                        </li>
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Vocabulary</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Travel & Tourism</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Culture & Free Time</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Sport</p>
                                </li>
                            </ul>
                        </li>

                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Writing</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Informal Letter</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-semesters-list__item">
                    <h3 class="program-semestr-list__title">4 semester</h3>
                    <ul class="program-timetable-list">
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Grammar</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Clauses: Conditional and Wishes</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Direct / Reported speech</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Preposition</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Conjunction</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Numeral</p>
                                </li>
                            </ul>
                        </li>
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Vocabulary</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Healthy Living</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Nature & Environment</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Money
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212; Writing</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Formal Letter
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-semesters-list__item">
                    <h3 class="program-semestr-list__title">5 semester</h3>
                    <ul class="program-timetable-list">
                        <li class="program-timetable-list__item">
                            <h4 class="program-timetable-list__title">&#8212;</h4>
                            <ul class="program-courses-list">
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Revision</p>
                                </li>
                                <li class="program-courses-list__item">
                                    <p class="program-courses-list__title">Tests</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</section>