// counters:

.count-list {
    counter-reset: benefit;
    list-style: none;
}

.count-item {
    @extend .subtitle;

    padding-left: 10px;
    color: var(--primary-color);

    &:not(:last-child) {
        @media screen and (max-width:767px) {
        margin-bottom: 40px;
        }
    }

    &:before {
        counter-increment: benefit;
        content: "— 0" counter(benefit);

        color: var(--accent-color);

        display: block;
        margin-bottom: 8px;
    }
}