.main-navigation {
    display: none;
}

@media screen and(min-width:1680px) {
    .main-navigation {
        display: block;
    }

    .navigation-list {
        display: flex;
        align-items: center;
    }

    .navigation-list__item:not(:last-child){
        margin-right: 40px;
    }

    .navigation-list__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: var(--secondary-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 40px;
        padding-bottom: 40px;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

}