// 479px-
@media screen and (max-width: 479px) {
    .container {
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

.about {

    padding-bottom: 40px;
}

.about-container {
    display: block;
}

.about__title {
    margin-bottom: 20px;
}

.teacher-foto {
    margin-bottom: 20px;
}

.teacher-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #111518;
    margin-bottom: 8px;
}

.skills {
    padding-top: 20px;
    margin-bottom: 30px;
    padding-left: 25px;
    border-top: 1px solid #b9b9b9;
}

.skills-item {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.06em;
    list-style: none;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.skills-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    display: inline-block;
    background-image: url('../images/skill-list-icon.svg');
    width: 17px;
    height: 14px;

}

.teacher-about::before {
    content: "";
    display: block;
    background-color: var(--accent-color);
    width: 20px;
    height: 2px;
    margin-bottom: 20px;
}

.teacher-about {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    list-style: none;
}

.certificate {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    text-decoration-line: underline;
    color: var(--accent-color);
}



// 768px+
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .about {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .about__title {
        margin-bottom: 40px;
    }

    .skills-item {
        font-size: 15px;
        line-height: 1.25;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .teacher-about {
        font-size: 10px;
        line-height: 2;
        margin-bottom: 24px;
    }

    .teacher-foto {
        margin-bottom: 0;
    }

    .common {
        display: flex;
    }

    .wrapper-img {
        display: block;
        margin-right: 60px;
    }

    .wrapper-about {
        // display: block;
        width: 401px;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 1680px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .about {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .wrapper-img {
        margin-right: 172px;
    }

    .about-title {
        font-size: 46px;
        line-height: 1.3;
        letter-spacing: 0.03em;
    }

    .section-title {
        margin-bottom: 80px;
    }

    .teacher-name {
        font-size: 30px;
        line-height: 1.23;
        letter-spacing: 0.08em;
        margin-bottom: 16px;
    }

    .skills-item {
        font-size: 16px;
        line-height: 1.25;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    .teacher-about {
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 40px;

        &__item:not(:last-child) {
            margin-bottom: 35px;
        }
    }
    .certificate {
        font-size: 18px;
        line-height: 1.56;
    }
    .wrapper-about {
        width: 668px;
    }
}