.section-footer {
    display: grid;
    grid-row-gap: 21px;
    padding: 40px 0;
    text-align: center;

    @media screen and(min-width:768px) {
    //     display: grid;
    // grid-template-columns: 150px 300px 2fr;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    @media screen and(min-width:1680px) {
        padding: 80px 0 78px;
        justify-content: start;
    }

    &__tel {
        display: flex;
        color: var(--primary-color);
        text-decoration: none;
        // text-align: center;
        // align-items: center;
        justify-content: center;

        font-family: 'Montserrat';
            font-weight: 600;
            font-size: 14px;
            line-height: 1.21;
            letter-spacing: 0.08em;

         @media screen and(min-width:768px) {
            font-size: 20px;
            margin-left: 200px;
            padding-right: 24px;
            height: 40px;
            align-items: center;
            border-right: 1px solid var(--secondary-text-color);
         }
        @media screen and(min-width:1680px) {
        font-size: 30px;
        line-height: 1.23;
        padding-right: 16px;

        margin-left: auto;
        // margin-right: auto;
        width:450px;
        }

     
        &_tel-svg {
            margin-right: 8px;

            @media screen and(min-width:768px) {
                width: 24px;
                height: 23px;
            }

            @media screen and(min-width:1680px) {
            width: 30px;
            height: 29px;
            margin-right: 16px;
            }
    }
    }


    // &__soc {
    //     display: inline-flex;
    //     justify-content: center;
    //     list-style: none;
    //     padding: 0;
    //     margin-top: 3px;
    // //  width: 215px;
    // //  height: 44px;
    // //  margin-top: 20px;
    // @media screen and(min-width:768px) {
    //     justify-content: right;
    //     width: 215px;
    //     border-left: 1px solid var(--secondary-text-color);
    //     }

    //     @media screen and(min-width:1680px) {
    //         margin-right: auto;
    //     }

      

    // }
    // &__list + &__list {
    //  margin-left: 10px;
    // }

    &__link.instagram {
        display: block;
        margin-left: auto;
        margin-right: auto;

border-radius: 8px;        
        background: linear-gradient(299.36deg, rgba(161, 181, 216, 0) 61.06%, rgba(144, 162, 189, 0.309804) 110.82%, rgba(124, 139, 156, 0.756863) 182.56%, #748290 221.9%);
        background: radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);

        // background-image: url(../images/instagram.svg);
            // background-repeat: no-repeat;
            width: 40px;
            height: 40px;

            @media screen and(min-width:768px) {
                margin: 0;
                width: 40px;
                // padding-left: 26px;
                        // border-left: 1px solid var(--secondary-text-color);
                }

            @media screen and(min-width:1680px) {
              margin-right: auto;
              margin-left: 25px;
            }

            & .icon-instagram{
                align-items: center;
                fill: transparent;
                            // background-color: radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);
            }

    }


    // &__link.facebook {
    //     display: block;
    //     background-image: url(../images/facebook.svg);
    //     background-repeat: no-repeat;
    //     width: 40px;
    //     height: 40px;
    // }

    // &__link.twitter {
    //     display: block;
    //     background-image: url(../images/twitter.svg);
    //     background-repeat: no-repeat;
    //     width: 40px;
    //     height: 40px;
    // }
    
    // &__link.linkedin {
    //     display: block;
    //     background-image: url(../images/linkedin.svg);
    //     background-repeat: no-repeat;
    //     width: 40px;
    //     height: 40px;
    // }

}

// .svg-footer{
//         // fill: aqua;
//     // fill: linear-gradient(299.36deg, rgba(161, 181, 216, 0) 61.06%, rgba(144, 162, 189, 0.309804) 110.82%, rgba(124, 139, 156, 0.756863) 182.56%, #748290 221.9%);
// }

.section-down{
    display: grid;
    // grid-row-gap: 21px;
    padding: 24px 0;
    text-align: center;
    background-color: var(--primary-color);

    @media screen and(min-width:1680px) {
            padding: 26px 0 27px;
        }


    &__text{
        font-family: 'Montserrat';
            font-weight: 500;
            font-size: 14px;
            line-height: 2;

            color: var(--secondary-text-color);
    }
}

  .logo {
    @media screen and(min-width:768px) {
        width: 128px;
        height: 45px;
    }
  }

  .visualy-hidden{
    //   display: none;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);
  }