.guarantee__title {
    text-align: center;
    margin-bottom: 40px;
}

.guarantee__list-wrapper {
    background-color: #F1F1F1;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 27px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 87px;
        padding-top: 32px;
        padding-bottom: 40px;
        padding-right: 58px;
    }

    @media screen and (min-width: 1680px) {
        padding: 60px 280px;
    }
}

.guarantee__list {
    border-left: 1px dashed var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        width: 560px;
    }

    @media screen and (min-width: 1680px) {
        width: 1090px;
    }
}

.guarantee__item {
    position: relative;
    @include font(500, 12, 20);
    color: var(--alternative-text-color);
    padding-left: 28px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        padding-left: 32px;
    }

    @media screen and (min-width: 1680px) {
        @include font(500, 20, 28);
        padding-left: 41px;
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.guarantee__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    display: inline-block;
    background-image: url(../images/Campfire.svg);
    background-size: contain;
    width: 14px;
    height: 19px;
    z-index: 1;

    @media screen and (min-width: 1680px) {
        left: -11px;
        width: 22px;
        height: 30px;
    }
}

.guarantee__item-accent {
    color: var(--accent-color);
}

.guarantee__border {
    margin-bottom: 20px;
    border-left: 1px dashed var(--secondary-text-color);
}