.hero {
    padding-top: 20px;
    padding-bottom: 60px;
    background-image: url(../images/hero-wave-tablet.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left -30px bottom -30px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
        background-size: cover;
        background-position: left 32px bottom -44px;
    }

    @media screen and (min-width: 1680px) {
        padding-top: 0;
        padding-bottom: 0;
        background-image: url(../images/hero-wave-desktop.png);
        background-position: left 16px bottom -35px;
    }
}

.hero__container {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.hero__description-wrapper {
    padding-left: 2px;

    @media screen and (min-width:1680px) {
        width: 560px;
        padding-top: 40px;
        padding-left: 0;
    }
}

.hero__title {
    @include font (800, 20, 26);
    letter-spacing: 0.03em;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        @include font (800, 26, 34);
        }
    
    @media screen and (min-width:1680px) {
        @include font (800, 58, 75);
    }
}

.hero__description {
    @include font (700, 14, 22);
    letter-spacing: 0.08em;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
    }
}

.hero__description--secondary-accent {
    font-weight: 500;
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

.hero__description--main-accent {
    color: var(--accent-color);

    @media screen and (min-width:1680px) {
        color: var(--primary-color);
    }
}

.hero__button-link {
    display: inline-block;
    @include font (700, 12, 15);
    letter-spacing: 0.08em;
    color: #ffffff;
    background-color: var(--accent-color);
    width: 280px;
    padding: 14px 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 260px;
        margin-bottom: 0;
    }
    
    @media screen and (min-width:1680px) {
        @include font (700, 14, 17);
        letter-spacing: 0.08em;
        padding: 26px 30px;
        width: 354px;
    }
}

.hero__img {
    margin-left: auto;
    margin-right: auto;
}