.section_problems {
    padding-top: 24px;
}

.orange-text {
    color: var(--accent-color);
}

.problems-title__row {
    display: block;
}

.section-title_problems {
    margin-bottom: 24px;
}

.section_problems {
    background-image: linear-gradient(to bottom,
            var(--primary-color) 70%,
            #fff 30%);
    padding-bottom: 80px;
}

// tab

@media screen and (min-width:768px) {

    .section_problems {
        padding-top: 40px;
    }

    .section-title_problems {
        margin-bottom: 30px;
    }

    .section_problems {
        background-image: linear-gradient(to bottom,
                var(--primary-color) 61%,
                #fff 39%);
        padding-bottom: 80px;
    }

}

// pc

@media screen and (min-width:1680px) {

    .section_problems {
        padding-top: 80px;

        // position: relative;

        // &::after {
        //     position: absolute;
        //     content: '';
        //     background-image: url("../images/gray_fire.svg");
        //     background-size: cover;
        //     width: 405px;
        //     height: 475px;
        //     bottom: 200px;
        //     right: 0;
        // }

        background-image: linear-gradient(to bottom,
                var(--primary-color) 72%,
                #fff 28%);
        padding-bottom: 80px;
    }

    .back_wrapper {
        width: 1680px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;


        background-image: url("../images/gray_fire.svg");
        background-repeat: no-repeat;
        background-position: right -20px bottom 140px;
        background-size: 405px 475px;
        overflow: visible;

    }

    .section-title_problems {
        margin-bottom: 80px;
    }

    .container_problems {

    }


}