.program-section{
    padding-top: 40px;
    padding-bottom: 40px;

    &::after{
        content: 'url(../)';
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .box {
        background-image: url('../images/mobile/bg-hero@2x.jpg');
    }
}

.program {
    background-color: var(--primary-color);
}
.program__title_theme_dark {
    padding-bottom: 40px;
    text-align: center;
    color: var(--dark-theme-text-color);
}
// .program-wrapper {  
//     display: flex;
//     justify-content: center;
//     align-items: center;
   
//    }

.program-semesters-list {
    position: relative;
  

}


.program-semesters-list__item {

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: var(--accent-color);
                    }

}

.program-semesters-list__item {
    padding-left: 20px;


    &:not(:last-child) {
            padding-bottom: 40px;
            border-left: 1px solid #FFFFFF;;
        }    
}


.program-timetable-list {
  

}





.program-semestr-list__title {
    
    font-weight: 700;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--dark-theme-text-color);
}


.program-timetable-list__title {
    font-weight: 700;
        font-size: 12px;
        line-height: 1.64;
        display: flex;
        align-items: center;
        letter-spacing: 0.08em;
        color: var(--accent-color);
}


.program-courses-list__title {
font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
  

    letter-spacing: 0.08em;

    color: var(--secondary-text-color);

    opacity: 0.5;
}






