.program-section {
    overflow: hidden;
    padding-top: 40px;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: url("../images/program-mobile@2x.png");
        }
    }

    background-color: var(--primary-color);

}

.program-container {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background-image: url("../images/program-mobile.png");
        bottom: 40px;
        right: 0;
        width: 147px;
        height: 137px;
    }

    padding-bottom: 145px;

}

.border-wrapper {
    display: flex;

}

.border {
    margin-top: 10px;
    border-left: 1px solid #FFFFFF;
    margin-left: auto;
    margin-bottom: 80px;

}

.program-wrapper {
    margin: 0 auto 0 0;
}

.program-semester__wrapper {
    margin-left: 20px;
}

.program-semesters-list {
    position: relative;
    margin-top: -10px;
}


.program-semesters-list__item {

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.program-timetable-list__item {
    margin-bottom: 4px;
}

// Titlenpn
.program__title_theme_dark {
    padding-bottom: 40px;
    text-align: center;
    color: var(--dark-theme-text-color);
}

.program-semestr-list__title {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--dark-theme-text-color);
}


.program-timetable-list__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    color: var(--accent-color);
}

.program-courses-list__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    color: var(--secondary-text-color);
    opacity: 0.5;
}

// end title

@media screen and (max-width:1679px) {
    .program-semesters-list__item {

        &::before {
            content: '';
            position: absolute;
            left: -12px;
            margin-top: 10px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            justify-content: center;
            background-color: var(--accent-color);
        }
    }

}

@media screen and (max-width:767px) {
    .program-wrapper {
        max-width: 176px;
    }
}



// Tablet/
@media screen and (min-width:768px) {
    .program-section {
        padding-top: 60px;
    }

    .program-container {
        &::after {
            position: absolute;
            content: '';
            background-image: url("../images/program-tablet.png");
            bottom: 80px;
            right: 0;
            width: 368px;
            height: 268px;
        }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .box {
            background-image: url("../images/program-tablet@2x.png");
        }
    }
    }



    .program-wrapper {

        padding-left: 0;
    }

    .border {
        margin-top: 10px;
        border-left: 1px solid #FFFFFF;
        margin-bottom: 88px;
    }

    .program__title_theme_dark {
        text-align: left;
        
    }

    .program-timetable-list {
        display: flex;
    }

    .program-timetable-list__item {
        max-width: 150px;

        &:not(:last-child) {
            padding-right: 40px;
        }
    }

    .program-semester__wrapper {
        margin-left: 107px;
    }

    .program-semestesr-list__item {
        padding-left: 102px;
    }
}

// End Tablet/


// Desktop

@media screen and (min-width:1680px) {
    .program {
        position: relative;
    }

    .program-section {
        padding-top: 80px;
        
        max-width: inherit;
    }

    .program-container {
        
        &::after {
            position: absolute;
            content: '';
            background-image: url("../images/program-desktop.png");
            background-size: cover;
            left: 0;
            bottom: -122px;
            width: 686px;
            height: 510px;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .box {
                    background-image: url("../images/program-desktop@2x.png");
                }
            }

            z-index: 10;
        }


    }

    .border-wrapper {
        flex-direction: column;

    }

    .border {
        margin: 0;
        border-left: none;
        border-bottom: 1px solid #FFFFFF;
        line-height: 0;
    }

    .program-wrapper {
        padding-left: 136px;
    }
.program__title_theme_dark {
    padding-bottom: 0;
    margin-bottom: 88px;
}
    .program-semesters-list {
        display: flex;
    }

    .program-semester__wrapper {
        padding-top: 48px;
        margin-left: 0;
    }

    .program-semesters-list__item {
        width: 240px;

        &::before {
            content: '';
            position: absolute;
            top: 1px;
            width: 17px;
            height: 16px;
            border-radius: 50%;
            justify-content: center;
            background-color: var(--accent-color);
        }

        &:not(:last-child) {
            margin-right: 40px;
            border-left: none;
        }
    }

        .program__title_theme_dark {
            padding-bottom: 0;
           
            
        }
    .program-semestr-list__title {
        display: inline-block;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 0.93;
    }

    .program-timetable-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .program-timetable-list__item {


        &:not(:last-child) {
            padding-right: 40px;
        }
    }

    .program-timetable-list__title {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.65;
    }

    .program-courses-list__title {
        font-size: 18px;
        line-height: 1.56;
    }
}