.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.reviews-title {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
}

.reviews__img {
    margin: 0px auto 24px auto;
}

.reviews-dots-list__item:not(:last-child) {
    margin-right: 12px;
}

.reviews-social-link__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reviews-card-name {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
    color: var(--accent-color);
}

.reviews-card-description {
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 16px;
    color: #B9B9B9;
}

.reviews-card-text {
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    color: #3D3D3D;
}

.reviews-card-text__link {
    text-decoration-line: underline;
    color: #FF6B09;
}

.reviews-dots-list {
    display: flex;
    // justify-content: space-evenly;
    // overflow: hidden;
    text-align: center;
}

.reviews-dots-list__item{
    display: inline-block;
   
}
.reviews-dots-img {
    position: relative;
    width: 54px;
    height: 54px;
}


// .dots-opas {
//     display: none;
// }

.reviews-button-block {
    position: absolute;
    display: flex;
    width: 100vw;
    left: 0;
    justify-content: space-between;

}

.reviews-button-left,
.reviews-button-right {
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}


// 0 - 767 
@media screen and (max-width: 767px) {
    .reviews-picture-block {
            margin-bottom: 24px;
        }

    .reviews-card-content-block {
        margin-bottom: 40px;
    }

    .reviews-card-description-block,
    .reviews-card-text-block {
        padding-left: 25px;
        padding-right: 25px;
    }

}

// 768-1679
@media screen and (min-width: 768px) and (max-width: 1679px) {
    .reviews-title {
        font-size: 26px;
    }
    
    .reviews-card-name {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .reviews-card-content-block {
        width: 412px;
    }
}


// 768 + 
@media screen and (min-width: 768px) {
    .reviews-title {
        margin-bottom: 40px;
    }

    .reviews-card-description {
        margin-bottom: 20px;
        text-align: left;
    }

    .reviews-card-text {
        text-align: left;
    }

    .reviews-content {
        display: flex;
        justify-content: space-between;
        width: 704px;
        margin-bottom: 20px;
        padding: 40px 50px 60px 50px;
        background: #FFFFFF;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }

    .reviews-img {
        width: 150px;
        height: auto;
    }

    .reviews-card-name {
        text-align: left;
    }

    .reviews-picture-block {
        margin-right: 44px;
    }
}

// 1680+ 
@media screen and (min-width: 1680px) {
    .reviews {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .reviews-content {
        width: 1088px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 110px 60px 80px;
    }

    .reviews-title {
        font-size: 46px;
    }

    .reviews-card-name {
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 8px;
    }

    .reviews-card-description {
        font-size: 14px;
        line-height: 1.21;
    }
     
    .reviews-card-text {
        font-size: 18px;
            line-height: 1.56;
    }

    .reviews-card-content-block {
        margin-bottom: 40px;
        width: 706px;
    }

    .reviews-picture-block {
        margin-right: 40px;
    }
 
}